---
import { BaseHead, SiteFooter, SiteHeader } from '../components';
import '@fontsource-variable/inter';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;

const navigation = [
  { href: '/', label: 'Home' },
  { href: '/countries', label: 'Countries' },
];
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body>
    <SiteHeader navigation={navigation} />
    <main>
      <slot />
    </main>
    <SiteFooter navigation={navigation} />
  </body>
</html>
