---
import { ViewTransitions } from 'astro:transitions';
import { BaseHead, SiteFooter, SiteHeader } from '../components';

import '@fontsource-variable/inter';
import '../styles/link.css';
import '../styles/transitions.css';

interface Props {
  activeCountries?: string[];
  title?: string;
  description?: string;
  image?: string;
}

const {
  activeCountries = [],
  title,
  description,
  image = '/blog-placeholder-1.jpg',
} = Astro.props;

const navigation = [
  { href: '/', label: 'Home' },
  { href: '/countries', label: 'Countries' },
];
---

<html class="flex flex-col h-full" lang="en" transition:animate="none">
  <head>
    <ViewTransitions />
    <BaseHead description={description} title={title} image={image} />
  </head>

  <body class="flex flex-col h-full">
    <header class="w-full">
      <slot name="header">
        <SiteHeader activeCountries={activeCountries} />
      </slot>
    </header>
    <main class="mb-16 flex-1 md:mb-24 lg:mb-32" transition:animate="fade">
      <slot />
    </main>
    <SiteFooter navigation={navigation} />
  </body>
</html>
