---
type Props = {
  _id: string;
  excerpt: string;
  publishedAt: string;
  slug: string;
  title: string;
};

const { _id, excerpt, slug, title } = Astro.props;
---

<article>
  <div class="max-w-prose">
    <h2 class="text-4xl font-semibold" transition:name={`article_title_${_id}`}>
      <a href={`/article/${slug}`}>
        {title}
      </a>
    </h2>
    <div class="prose lg:prose-lg" transition:name={`article_title_${excerpt}`}>
      <p>{excerpt}</p>
    </div>
  </div>
</article>
