---
import SanityPicture from 'astro-sanity-picture';
import Section from '../Section.astro';
import { imageBuilder } from '~/sanity/image';
import ImageCaptionButton from './ImageCaptionButton.astro';

export interface Props {
  node: {
    images: {
      caption: string;
      image: ImageWithMeta;
    }[];
  };
}

const { images } = Astro.props.node;

const containerMaxWidth = 1152;

const w = (n: number) => `${containerMaxWidth / n}px`;

const sizes = [
  `(max-width: 767px) calc(100vw - 2rem), ${w(1)}px`, // one image
  `(max-width: 767px) calc(100vw - 2rem), ${w(2)}`, // two images
  `(max-width: 767px) calc(100vw - 2rem), ${w(3)}`, // three images
  `(max-width: 767px) calc(100vw - 2rem), ${w(4)}`, // four images
  `(max-width: 767px) calc(100vw - 2rem), ${w(5)}`, // five images
];

const imageSizes = sizes?.[images.length] || sizes[5];
---

<Section width="article" data-block="inline-images">
  <div class="inline-images-grid" style={`--column-count: ${images.length};`}>
    {
      images.map(({ caption, image }) => (
        <figure class="article-image-frame u-relative">
          <SanityPicture
            src={image}
            imageUrlBuilder={imageBuilder}
            style={{
              width: '100%',
              height: 'auto',
            }}
            sizes={imageSizes}
            widths={[320, 480, 640, 800, 960]}
            sources={[{ options: { quality: 76 } }]}
            img={{
              alt: image.asset.alt || caption || '',
              decoding: 'async',
              loading: 'lazy',
            }}
          />
          <ImageCaptionButton caption={caption} />
        </figure>
      ))
    }
  </div>
</Section>

<style is:global>
  .inline-images-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    @media (width >= 48rem) {
      grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
      gap: 1rem;
    }
  }
</style>
