---
import SanityPicture from 'astro-sanity-picture';
import Section from '../Section.astro';
import { imageBuilder } from '~/sanity/image';

export interface Props {
  node: {
    images: {
      caption: string;
      image: ImageWithMeta;
    }[];
  };
}

const { images } = Astro.props.node;

const containerMaxWidth = 1344;

const w = (n: number) => `${containerMaxWidth / n}px`;

const sizes = [
  `(max-width: 767px) 100vw, ${w(1)}px`, // one image
  `(max-width: 767px) 100vw, (max-width: 1535px) calc(50vw - 5rem), ${w(2)}`, // two images
  `(max-width: 767px) 100vw, (max-width: 1535px) calc(33vw - 6rem), ${w(3)}`, // three images
  `(max-width: 767px) 100vw, (max-width: 1535px) calc(25vw - 7rem), ${w(4)}`, // four images
  `(max-width: 767px) 100vw, (max-width: 1535px) calc(20vw - 8rem), ${w(5)}`, // five images
];

const imageSizes = sizes?.[images.length] || sizes[5];
---

<Section width="mobile-full" data-block="inline-images">
  <div
    class="md:grid-cols-dynamic grid grid-cols-1 items-center justify-center gap-4"
    style={`--column-count: ${images.length};`}
  >
    {
      images.map(({ caption, image }) => (
        <div class="relative overflow-hidden border-0 border-gray-800 shadow-lg md:rounded-xl md:border">
          <SanityPicture
            src={image}
            imageUrlBuilder={imageBuilder}
            style={{
              width: '100%',
              height: 'auto',
            }}
            sizes={imageSizes}
            widths={[320, 480, 640, 800, 960]}
            sources={[{ options: { quality: 76 } }]}
            img={{
              alt: image.asset.alt || caption || '',
              decoding: 'async',
              loading: 'lazy',
            }}
          />
          {caption && (
            <div class="absolute right-0 bottom-0 left-0 p-4">
              <div class="type-caption rounded-lg bg-black/30 px-4 py-3 text-white backdrop-blur-sm">
                {caption}
              </div>
            </div>
          )}
        </div>
      ))
    }
  </div>
</Section>
