---
import { SanityImage } from '.';

export type Props = ArticleTeaser;

const { _id, excerpt, imageCount, mainImage, readingTime, slug, title } =
  Astro.props;
---

<article class="flex flex-col md:flex-row gap-8 fade-in-up link-box group">
  {
    mainImage && (
      <figure>
        <div class="relative after:block after:inset-0 after:absolute after:bg-brand-medium after:opacity-0 after:z-1 after:transition-opacity after:duration-300 group-hover:after:opacity-70">
          <SanityImage
            image={mainImage}
            width="600"
            transition:name={`article_cover_${_id}`}
          />
        </div>
        {mainImage?.alt && (
          <figcaption class="mt-1 text-step--2 italic">
            {mainImage.alt}
          </figcaption>
        )}
      </figure>
    )
  }
  <div>
    <div class="max-w-prose">
      {
        (imageCount || readingTime) && (
          <p class="mb-2 text-step--2 text-gray-500 dark:text-gray-400">
            {[
              readingTime && `${readingTime} minute read`,
              imageCount && `${imageCount} image${imageCount > 1 ? 's' : ''}`,
            ]
              .filter(Boolean)
              .join(' and ')}
          </p>
        )
      }
      <h2
        class="text-5xl font-semibold mb-8 group-hover:text-brand-medium transition-colors duration-300"
      >
        {title}
      </h2>
      {
        excerpt && (
          <div class="prose lg:prose-lg dark:prose-invert mb-6">
            <p>{excerpt}</p>
          </div>
        )
      }
      <a
        class="link link-overlay"
        href={`/article/${slug}`}
        title={`Read full article: ${title}`}
        aria-label={`Read full article: ${title}`}
      >
        Read full article
      </a>
    </div>
  </div>
</article>
