---
import { Heading, SanityImage, Text } from '~/components';

export type Props = ArticleTeaser;

const { _id, excerpt, imageCount, mainImage, readingTime, slug, title } =
  Astro.props;
---

<article
  class="fade-in-up flex flex-col items-center link-box group text-center"
>
  {
    mainImage && (
      <figure>
        <div class="relative after:block after:inset-0 after:absolute after:bg-brand-medium after:opacity-0 after:z-1 after:transition-opacity after:duration-300 group-hover:after:opacity-50">
          <SanityImage
            className="aspect-video"
            image={mainImage}
            transition:name={`article_cover_${_id}`}
          />
        </div>
      </figure>
    )
  }
  <div class="p-8 lg:px-16 max-w-prose">
    {
      (imageCount || readingTime) && (
        <Text display="muted" size="sm" class:list="mb-2">
          {[
            readingTime && `${readingTime} minute read`,
            imageCount && `${imageCount} image${imageCount > 1 ? 's' : ''}`,
          ]
            .filter(Boolean)
            .join(' and ')}
        </Text>
      )
    }
    <Heading
      as="h2"
      size="h2"
      class:list="mb-4 md:mb-8 group-hover:text-brand-medium transition-colors duration-300"
    >
      {title}
    </Heading>
    {excerpt && <Text class:list="mb-6 line-clamp-3">{excerpt}</Text>}
    <Text size="sm">
      <a
        class="link link-overlay"
        href={`/article/${slug}`}
        title={`Read full article: ${title}`}
        aria-label={`Read full article: ${title}`}
      >
        Read full article
      </a>
    </Text>
  </div>
</article>
